menu "I2SBUF"
	config I2SBUF_TASK_STACK_SIZE
		int "Sample generator/writer task stack size"
		default 4096
		
	config I2SBUF_TASK_PRIORITY
		int "Sample generator/writer task priority"
		default 10 
		
	config I2SBUF_CREATE_TASK_TIMEOUT_MS
		int "Timeout for creating the generator/writer task [ms]. 0 for infinity"
		default 1000
endmenu
